<h1>List</h1>
<h1>My To-do Lists</h1>

<ul>
  <h2>Homework</h2>
  <li>
    <input type="checkbox"></input>
    <span>Complete Geometry Homework</span>
    <strong>2 pomodoros</strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span>Study for Chemistry Homework</span>
    <strong>4 pomodoros</strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span>Start Health Project</span>
    <strong>3 pomodoros</strong>
  </li>
</ul>

<ul>
  <h2>Chores</h2>
  <li>
    <input type="checkbox"></input>
    <span>Laundry</span>
    <strong>2 pomodoros</strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span>Shower Dog</span>
    <strong>1 pomodoro</strong>
    <% a = 'a cat' %>
    <% a* 2 %>
    <%= a %> 
  </li>
</ul>